@import "../../static/css/sass/mixins/breakporintMixin";

.roadmap-section {
  // display: none;
  padding: 2rem 0;
  
}

.roadmap-section-content {
  padding-top: 1rem;
}

.roadmap-section-content .box-list {
  // align-items: baseline;
}

// Roadmap Hexagon first row
.roadmap-first {
  
  @include ipad {
    // margin-top: -85px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
  }

  @include desktop {
    display: flex;
  }

}

// Roadmap Hexagon second row
.roadmap-second {
  margin-top: 30px;

  // Ipad
  @include ipad {
    margin-top: -178px;
  }

  // Desktop
  @include desktop {
    margin-top: -85px;
  }
}


// Roadmap Hexagon third row
.roadmap-third {
  margin-top: 30px;
  
  // Ipad
  @include ipad {
    margin-top: -85px;
  }

  // Desktop
  @include desktop {
    margin-top: -85px;
  }
}


// RoadMap First Hexagon Box
.roadmap-first .box.one {
  @include ipad {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: end;
  }
}

// RoadMap Second Hexagon Box
.roadmap-first .box.two {
  @include ipad {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
  }
  
}

// RoadMap Third Hexagon Box
.roadmap-first .box.three {
  @include ipad {
    margin-top: -185px;
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    justify-self: center;
  }

  @include desktop {
    margin-top: 0;
  }

}

