nav {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // flex-direction: column;
  z-index: 1;

  @include desktop {
    // flex-direction: row;
  }
}

.logo {
  width: 170px;

  img {
    width: 100%;
    height: 100%;
  }
}

.nav-links {
  display: none;
  gap: 20px;
  list-style: none;
  margin-top: -20px;

  @include desktop {
    margin-top: 0;
    display: flex;

  }
}

.nav-links a {
  font-family: 'Luxia', sans-serif;                                      
  color: var(--font-light-color);
  text-decoration: none;  
  font-size: 12px;

  @include ipad {
    font-size: 14px;
  }

  @include desktop {
    font-size: 16px;
  }

  @include largeDesktop {
    font-size: 18px;
  }
}

.nav-button {
  text-decoration: none;
  font-family: 'Luxia', sans-serif;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 30px;
  // border-radius: 6px;
  background: var(--nav-button-gradient);
  margin-top: 12px;
  display: none;
  color: black;
  
  @include desktop {
    display: block;
    margin-top: 0;
  }
}

// Menu -button
.menu-button {
  color: var(--accent-color);
  font-size: 2rem;
  display: none;
  cursor: pointer;
  display: block;
  
  @include desktop {
    display: none;
  }
  
  &:hover {
    color: white;
  }
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--body-color);
  z-index: 5;
  display: none;
  justify-content: center;
  align-items: center;

  // Close button
  i {
    top: 2rem;
    right: 2rem;
    position: absolute;
    color: white;
    font-weight: 600;
    font-size: 2rem;
    cursor: pointer;

    

    &:hover {
      color: var(--accent-color);
    }
  }
}

.mobile-nav-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  list-style-type: none;

  a {
    font-size: 30px;
    text-decoration: none;
    color: var(--accent-color);
  }
}