.team-section {
  // margin: 4rem 0;

  h1 {
    text-align: center;
    color: var(--accent-color);
    padding-bottom: 3rem;
    font-weight: 400;
    font-size: 2.2rem;
  }
}

.team-section-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include desktop {
    flex-direction: row;
  }
}

.team-section-card {
  border: 4px solid;
  border-image-slice: 1;
  border-image-source: var(--border-gradient);
  width: 100%;
  
}

.team-section-card-wrapper {
  padding: 2rem;
  width: 100%;
  height: 100%;
  background: var(--gradient-for-backdrop);
  display: flex;
  flex-direction: column;
  // justify-content: baseline;
  align-items: center;
  gap: 2rem;
  text-align: center;

  h2 {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--accent-color);
  }

  p {
    font-size: 1.1rem;
    line-height: 2rem;
    color: var(--font-light-color);
    font-family: var(--font-family-paragraph);
  }

}

.team-image-wrapper {
  width: 230px;
  height: 230px;
  border: 4px solid;
  border-image-slice: 1;
  border-image-source: var(--border-dark-gradient);
  padding: 5px;
  
  @include ipad {
    width: 300px;
    height: 300px;
  }
  
}

.team-image {
  width: 100%;
  height: 100%;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}