.countdown-section {
  z-index: 2;
  h2 {
    // font-size: rem;
    font-weight: 600;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--font-light-color);
    padding: 3rem 0 10px 0;
  }
}

.countdown-box-list {
  display: flex;
  gap: 10px;
  justify-content: center;

  @include desktop {
    justify-content: flex-start;
  }
}

.countdown-box-wrapper {
  // width: 100%;
  // flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;

  .outer-span {
    color: var(--font-light-color);
    text-align: center;
    font-size: 14px;

    @include ipad {
      font-size: 16px;
    }

    @include desktop {
      flex: 1;
    }
  }
}

.countdown-box {
  width: 60px;
  height: 60px;
  border: 1px solid white;
  border-radius: 5px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  @include largeMobile {
    width: 80px;
    height: 80px;
  }

  @include ipad {
    width: 100px;
    height: 100px;
  }
  
  @include desktop {
    // width: 110px;
    // height: 110px;
    // width: 300px;
    // height: 300px;
    
  }
  
  @include largeDesktop {
    width: 110px;
    height: 110px;

  }

  

  // Count down lighter top half color
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(182, 165, 8, 0);
    // z-index: -1;
  }

  // Count down darker bottom half color
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.199);
    // z-index: -1;
  
    
  }

  // white dots on clock
  .dot {
    position: absolute;
    width: 5px;
    height: 15px;
    background-color: white;

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
  }

  
  // Text area for count down
  span {
    color: var(--font-light-color);
    font-size: 1.8rem;
    
    @include ipad {
      font-size: 2.2rem;
    }

    @include desktop {
      font-size: 3.5rem;
      
    }
  }
}


