footer {
  padding: 2rem 0;
  // padding: 2rem 0;
  padding-top: 6rem;

  @include desktop {
    // width: 90%;
  }
}



// Social Link List
.socialLinks {
  display: flex;
  gap: 2rem;
  align-items: center;
}

// Social Link
.socialLinks a .fab {
  font-size: 1.5rem;
  color: var(--accent-color);
  // background-clip: text;
  // background-color: red;
  // background-image: var(--button-border-gradient);
}

// First row of footer where logo and social links content
footer .first-row-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Second row of footer
footer .second-row {
  padding: 2rem 0;
  border-top: 1px solid rgb(94, 94, 94);
  border-bottom: 1px solid rgb(94, 94, 94);
}

// Second row content
footer .second-row-content {
  // padding: 2rem 0;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // justify-content: center;
  align-items: center;
  color: var(--font-light-color);


  @include ipad {
    flex-direction: row;
    width: 90%;
  }
  
  a {
    color: var(--font-light-color);
    text-decoration: none;
  }
}

// Third Row 
footer .third-row {
  padding: 2rem 0;

}

// Third Row Content
footer .third-row-content {
  display: flex;
  justify-content: center;
  color: var(--font-light-color);

  span {
    text-align: center;
  }
  
}