// Main Hero Section
.main-section {
  position: relative;
}

.hero-section-wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 14vh 86vh;
  justify-content: center;
  align-items: center;

}

// Hero section
.hero-section {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  // padding-top: 2rem;

  height: 100%;
  padding-top: 5rem;
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 38% 1fr;
  align-items: center;
  gap: 1rem;
  
  @include ipad {
    padding-top: 5rem;
  }

  @include desktop {
    align-items: center;
    
  }
}



// Content Section
.hero-section .content {
  // width: 45%;
  z-index: 1;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 2rem;

  @include desktop {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    align-items: flex-start;
    text-align: start;
  }
  
  // Welcome to the New World Heading
  h1 {
    z-index: -1;
    font-size: 2rem;
    line-height: 2.3rem;
    color: var(--font-light-color);

    @include desktop {
      font-size: 3rem;
      line-height: 3.3rem;
    }

    // Accent color in heading
    b {
      color: var(--accent-color);
    }
  }

  // Countdown before launch
  h2 {
    font-size: 1.2rem;
    color: var(--font-light-color);
    
    @include ipad {
      font-size: 1.5rem;
    }

    @include desktop {
      font-size: 1.5rem;
    }
  }

  // Discord button In hero section 
  .discord-button {

    button {
      font-size: 1rem;
      padding: 15px 40px;
      
      @include ipad {
        font-size: 1.2rem;
        padding: 15px 40px;
      }
    }
  }
}

// Image section
.hero-section .image {
  // width: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  // z-index: -1;
  
  @include desktop {
    // opacity: 1;
    z-index: initial;
    grid-column: 2 / -1;
    grid-row: 1 / -1;
  }
  
  img {
    width: 100%;
    height: 100%;

    opacity: 0.2;

    @include desktop {
      opacity: 1;
    }
  }
}

.main-section::after {
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  // background: rgb(200,149,32);
  // background: radial-gradient(circle closest-corner, rgba(200,149,32,1) 0%, rgba(67,54,25,1) 0%, rgba(22,22,22,1) 74%);
  // background: radial-gradient(circle, rgba(200,149,32,1) 0%, rgba(22,22,22,1) 79%);

}