
// Hexagon box list
.box-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  
  @include ipad {
    &:not(:first-child) {
      margin-top: -75px
    }
  }

  &:first-child {
    margin-bottom: 20px;

    @include ipad {
      margin-bottom: 0;
    }
  }
  
  &:nth-child(2) {
    margin-bottom: 20px;
    
    @include ipad {
      margin-bottom: 0;
    }
  }
  
  // Metaverse third hexagon
  &.metaverse-third {
    gap: 20px;

    @include ipad {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      $marginTop: -92px;
      $marginX: 320px;

      .box:first-child {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        justify-self: center;

      }
      .box:nth-child(2) {
        grid-row: 2 / -1;
        grid-column: 1 / -1;
        justify-self: center;
        margin-right: $marginX;
        margin-top: $marginTop;
        
      }
      .box:last-child {
        grid-row: 2 / -1;
        grid-column: 1 / -1;
        justify-self: center;
        margin-left: $marginX;
        margin-top: $marginTop;
      }
    }

    @include desktop {
      display: flex;

      .box:first-child {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        justify-self: auto;

      }
      .box:nth-child(2) {
        grid-row: 2 / -1;
        grid-column: 1 / -1;
        justify-self: center;
        margin-right: initial;
        margin-top: initial;
        
      }
      .box:last-child {
        grid-row: 2 / -1;
        grid-column: 1 / -1;
        justify-self: center;
        margin-left: initial;
        margin-top: initial;
      }
    }
  }


  // RoadMap First Hexagon
  &.roadmap-first {
    @include ipad {
      
      .box:last-child {
        margin-top: -95px;
      }
    }

    @media(min-width:988px) {
      .box:last-child {
        margin-top: 0;
      }
    }

    @include desktop {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;

      .box:last-child {
        margin-top: 0;
      }

      
    }
  }
  
}

// Hexagon box
.box {
  clip-path: var(--hexagon-clip-path);
  padding: 2px;
  background-color: rgb(234,215,170);
  background-image: linear-gradient(
    180deg, 
    rgb(238, 209, 141) 0%, 
    var(--accent-color) 29%, 
    var(--accent-dark-color) 100%);
  height: 500px;
  
  @include ipad {
    width: 300px;
    height: 390px;
  }
  
  
  @include desktop {
    width: 320px;
    height: 370px;
  }

  @include largeDesktop {
    width: 385px;
    height: 425px;
  }
  
}

// Hexgon box content
.box-content {
  background-color: var(--body-color);
  width: 100%;
  height: 100%;
  clip-path: var(--hexagon-clip-path);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 1rem;

  @include ipad {
    // padding: 14px 1rem 1rem;  
  }

  @include desktop {
    // padding: 14px 1rem 3rem;  
  }

  @include largeDesktop {
    // padding: 14px 1.4rem 3rem;
  }

  // Image of box daimond box 
  .img {
   
    width: 70px;
    height: 70px;


    img {
      width: 100%;
      height: 100%;
    }

    &.large {
      width: 90px;
      height: 90px;
      margin-bottom: -14px;
    }
  }

  // Heading of hexagon box
  h1 {
    text-align: center;
    color: var(--accent-color);
    text-transform: uppercase;
    font-size: 24px;

    @include ipad {
      font-size: 24px;
    }

    @include desktop {
      font-size: 28px;
    }

    @include largeDesktop {
      font-size: 32px;
    }
  }

  // Paragraph
  p {
    text-transform: uppercase;
    color: var(--font-light-color);
    // text-align: center;
    // text-align: justify;
    text-align: center;
    // text-align-last: center;
    font-size: 14px;
    

    // @include ipad {
      
    // }
    
    @include desktop {
      font-size: 14px;
      line-height: 22px;
    }

    @include largeDesktop {
      font-size: 16px;
      line-height: 24px;
    }

  }
}
