.roadmap-section {
  padding: 2rem 0;
  span {
    color: white;
    text-align: center;
    display: block;
    margin-top: -60px;
  }
}

.roadmap-section-content {
  // padding-top: 1rem;
}

.roadmap-section-content .box-list {
  // align-items: baseline;
}