/* Header  Section */
.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 5rem calc((70vw - 62.5rem) / 2);
    font-family: 'Montserrat';
}

.container h1 {
    padding: 1rem 1rem 1rem 5rem;
    font-size: 3rem;
    color: #fff;
}

.container h1 > span {
    /* color: #FFCE45; */
    color:  #F0A500;
    text-transform: uppercase;
}

.container h3 {
    padding: 1rem 1rem 1rem 5rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
}

.bannerImg {
    height: 25rem;
    margin-top: 3rem;
}

/* Count Down */
.counterHead {
    font-size: 2rem;
    margin-top: 2.5rem;
}

.countdown {
    font-family: 'Montserrat';
    font-weight: 700;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    text-align: center;
    padding: 1rem 5.1rem 1rem 5.1rem;  
}
.countdown .cell {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0.2rem;
}
.countdown .digits {
    
    background: linear-gradient(100deg,#f7f6f8,#ffffffbb,#fbfbfad8);
    background-size: 180% 180%;
    animation: gradient-animation 9s ease infinite;
    
    font-size: 5rem;
    color: #000;
    border-style: solid;
    border-image: linear-gradient(135deg, #f82aff 20%, #555 20%, #555 40%, #ffe680 40%, #ffe680 60%, #555 60%, #555 80%, #d40055 80%) 5/10px;
    padding: 0.5rem;
    border-radius: 0.2rem;
}
.countdown .text {
    margin-top: 0.5rem;
    color: #ddd;
    font-size: 1.5em;
    font-weight: 400;
}
