.overView-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 0.2em 15em;
}

.overviewImage {
  width: 21rem;
  height: 15rem;
  margin: 3.8rem 100rem 1rem 0.7rem;
  padding: 0.5rem 20rem 1rem 1rem;
}

/* the color is also used in timer section for span */
.overviewContent > p {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 5rem;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}


.overviewContent span {
    font-size: 3rem;
    color: #F0A500;
    font-weight: bold;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}




