.hex {
    margin: 0 auto;
    position: relative;
    width: 25rem;
    height: 20rem; /* width * 0.866 */
    background: #423e07;
    box-sizing: border-box;
    clip-path:polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
  }

  .hex-background {
    position: absolute;
    background: #161400;
    top: 8px; /* equal to border thickness */
    left: 9px; /* equal to border thickness */
    width: 24rem; /* container height - (border thickness * 2) */
    height: 18.9rem; /* container height - (border thickness * 2) */
    clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
  }

.hex-content {
    text-align: center;
    padding: 2rem;
    color: #fff;
    font-family: Montserrat,"Helvetica Neue",Helvetica;
}

.hex-content > p {
    font-style: uppercase;
}

.cardsTwo {
    position: relative;
    display: flex;
    padding: 0.1rem 33rem;
}
.cardsThree {
    display: flex;
    padding: 0.4rem 20rem;
}

.cardHeading {
    position: relative;
    font-size: 3rem;
    text-align: center;
    margin: 3rem;
    color: #F0A500;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica;
    font-weight: 700; 
}


