@import "../../static/css/sass/mixins/breakporintMixin";

.team {
  padding-bottom: 2rem;
}


.team-section-content .section-heading {
  padding-bottom: 5rem;
}


.team__card__list {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;

  @include ipad {
    gap: 3rem;
    flex-direction: row;
  }

  @include desktop {
    width: 90%;
  }
}


// Team card
.team__card {
  width: 100%;
  border-radius: 0px 0px var(--border-radius) var(--border-radius);
  background-image: var(--border-linear-gradient);
  padding: 3px;
  position: relative;
}

// Content of Team Card
.team__card__content {
  border-radius: 0px 0px var(--border-radius) var(--border-radius);
  background-color: var(--body-color);
  text-transform: uppercase;
  padding: 10rem 1rem 2rem;
  height: 100%;


  display: flex;
  flex-direction: column;
  // justify-content: baseline;
  align-items: center;
  gap: 12px;

  // Ipad
  @include ipad {
    padding: 10rem 2rem 2rem;
  }
  

  // Team member name
  h3 {  
    color: var(--accent-color);
    text-align: center;
    font-size: 1.9rem;
    line-height: 2.3rem;
  }

  // Team member description
  p {
    color: var(--font-light-color);
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.1rem;
  }
}

// Team Card image
.team__card__image {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: -58px;
  border: 10px solid var(--body-color);
  box-shadow: 0px 0px 5px #ffebb7e0;
  overflow: hidden;
  // -webkit-overflow-scrolling: touch;
  
  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.team__card__image--one {
  img {
    object-position: 50% -2%;
  }
}

.team__card__image--two {
  img {
    object-position: 5% 35%;
  }
}


