.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1500px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 1080px) {
  .container {
    width: 90%;
  }
}

.hero-container {
  width: 92%;
  max-width: 1500px;
  margin: 0 0 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-between {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-start {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-end {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-flex-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-flex-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.gap-1 {
  gap: 10px;
}

.gap-2 {
  gap: 20px;
}

.gap-3 {
  gap: 30px;
}

.gap-4 {
  gap: 40px;
}

.gap-5 {
  gap: 50px;
}

.gap-6 {
  gap: 60px;
}

.gap-7 {
  gap: 70px;
}

.gap-8 {
  gap: 80px;
}

.gap-9 {
  gap: 90px;
}

.gap-10 {
  gap: 100px;
}

.w-full {
  width: 100%;
}

.height {
  height: 100%;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --body-color: #161616;
  --input-field-color: #272727;
  --font-light-color: white;
  --font-light-gray-color: rgb(186, 186, 186);
  --accent-color: #fecb42;
  --accent-dark-color: #4e3b18;
  --star-color: rgb(255, 185, 35);
  --font-poppins: 'Poppins', sans-serif;
  --border-linear-gradient: linear-gradient(180deg, rgb(206 182 124) 0%, rgb(161 144 85) 29%, rgb(116 83 7) 100%);
  --button-gradient: linear-gradient(
    to right, 
    rgb(216, 185, 75),
    rgb(185, 135, 18)
  );
  --button-border-gradient: linear-gradient(
    to left bottom, 
    var(--accent-color),
    var(--accent-dark-color)
  );
  --hexagon-clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  --button-clip-path: polygon(0 0, 90% 0, 100% 32%, 100% 100%, 10% 100%, 0 68%);
  --notched-dashboard-nav-box: polygon(
    /* Top left corner */
    0 0, 
    /* Top right corner first notch corner */
    83% 0, 
    /* Top right corner second noch corner */
    100% 23%,
    /* Bottom right corener */
    100% 100%, 
    /* bottom right first notched corner */
    17% 100%, 
    /*bottom right second notched corner */
    0 77%
  );
  --dashboard-main-box-polygon: polygon(
    /* bottom left corner */
    0 100%,
    /* top left first notched on left */
    0 15%,
    /* top left second notched on top */
    8% 0,
    /* top right first point to start the design */
    80% 0,
    /* top right second point for curve */
    82% 2%,
    /* top right third point which end line and start noctch point */
    96% 2%,
    /* top right notch point last point */
    98% 6%,
    /* top right right line first notch point  */
    98% 31%,
    /* top right right line second notch point which touch the right line */
    100% 34%,
    /* bottom right first point on right line  */
    100% 86%,
    /* bottom right second point on bottom line */
    92% 100%
  );
  --dashboard-main-box-polygon-ipad: polygon(
    /* bottom left corner */
    0 100%,
    /* top left first notched on left */
    0 15%,
    /* top left second notched on top */
    11% 0,
    /* top right first point to start the design */
    80% 0,
    /* top right second point for curve */
    82% 2%,
    /* top right third point which end line and start noctch point */
    97% 2%,
    /* top right notch point last point */
    99% 4%,
    /* top right right line first notch point  */
    99% 24%,
    /* top right right line second notch point which touch the right line */
    100% 25%,
    /* bottom right first point on right line  */
    100% 86%,
    /* bottom right second point on bottom line */
    89% 100%
  );
  --notched-dashboard-nav-box-last: polygon(
    /* Top left corner */
    0 0, 
    /* Top right corner first notch corner */
    90% 0,
    /* Top right corner second noch corner */
    100% 23%,
    /* Bottom right corener */
    100% 100%,
    /* bottom right first notched corner */
    10% 100%,
    /*bottom right second notched corner */
    0 77%
  );
  --dashboard-box-mobile: polygon(
    /* Top left corner */
    0 0,
    /* Top right corner first notch corner */
    88% 0,
    /* Top right corner second noch corner */
    100% 8%,
    /* Bottom right corener */
    100% 100%,
    /* bottom right first notched corner */
    10% 100%,
    /*bottom right second notched corner */
    0 93%);
  --border-radius: 0;
}

body {
  background-color: var(--body-color);
  font-family: var(--font-poppins);
  position: relative;
  overflow-x: hidden;
}

a,
button,
*::after,
*::before {
  font-family: var(--font-poppins);
}

.section-heading {
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  padding: 3rem 0;
}

.discord-button {
  background-image: var(--button-border-gradient);
  color: var(--body-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  height: 100%;
  text-decoration: none;
  position: relative;
  bottom: 0;
  -webkit-transition: bottom 0.2s ease-in;
  transition: bottom 0.2s ease-in;
  display: block;
}

.discord-button.large button {
  font-size: 1rem;
  padding: 15px 40px;
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  .discord-button.large button {
    font-size: 1.1rem;
    padding: 15px 40px;
  }
}

.discord-button button {
  cursor: pointer;
  background-image: var(--button-gradient);
  padding: 10px 15px;
  border-radius: var(--border-radius);
  font-weight: 700;
  border: none;
  outline: none;
  color: var(--body-color);
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
  z-index: 1;
}

.discord-button button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 99%;
  background-color: var(--accent-color);
  top: 0;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.25s ease-in;
  transition: -webkit-transform 0.25s ease-in;
  transition: transform 0.25s ease-in;
  transition: transform 0.25s ease-in, -webkit-transform 0.25s ease-in;
}

.discord-button button:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.gradient {
  background-image: radial-gradient(circle at 50% 35%, var(--accent-dark-color) 5%, var(--body-color) 30%);
}

@media (min-width: 1080px) {
  .gradient {
    background-image: radial-gradient(circle at 20% 50%, var(--accent-dark-color) 10%, var(--body-color) 40%);
  }
}

.loaderWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: var(--body-color);
}
/*# sourceMappingURL=style.css.map */