.headingOne {
    position: relative;
    font-size: 3rem;
    text-align: center;
    margin: 3rem;
    color: #F0A500;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica;
    font-weight: 700; 
}

.gallery {
    position: relative;
    display: flex;
    justify-content: center;
   
} 
.galleryImage {
  padding-top: 2rem;
}






