
* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
  }
  
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Montserrat' 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    /* background-image: radial-gradient( circle at top left, #706902, #161400); */
    background: #161400;
  
  }
  
  code {
    font-family: 'Courier New',
      monospace;
  }
  