@import "../../static/css/sass/mixins/breakporintMixin";

.conversion__wrapper {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.conversion {
  width: 100%;
  position: relative;
  margin: 2rem 0 7rem;

  @include ipad {
    width: auto;
  }

  // Triangle top left corner
  &::after {
    // content: "";
    position: absolute;
    clip-path: polygon(0 0, 0 100%, 100% 0);
    background-image: var(--border-linear-gradient);


    @include ipad {
      top: 0px;
      left: 1px;
      width: 60px;
      height: 60px;
    }

    @include desktop {
      top: 0px;
      left: 1px;
      width: 60px;
      height: 60px;
    }
  }

  // Triangle bottom right corner
  &::before {
    // content: "";
    position: absolute;
    clip-path: polygon(0 100%, 100% 100%, 100% 0);
    background-image: var(--border-linear-gradient);


    @include ipad {
      bottom: 0px;
      right: 1px;
      width: 60px;
      height: 60px;
    }

    @include desktop {
      bottom: 0px;
      right: 1px;
      width: 60px;
      height: 60px;
    }
  }

}

.conversion__notched-box {
  padding: 2px;
  width: 100%;
  background-image: var(--border-linear-gradient);
 

  @include ipad {
    width: 650px;
    background-image: var(--border-linear-gradient);
    
  }

  @include desktop {
    width: 900px;
    background-image: var(--border-linear-gradient);
    
  }
}

.conversion__notched-box__content {
  width: 100%;
  height: 100%;
  padding: 2rem;
  position: relative;
  background-color: var(--body-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  gap: 5rem;
  
}


.conversion__image__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.conversion__image {
  position: relative;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(100%);
  transition: all 0.3s ease-in;
  opacity: 0.7;
  
  &:hover  {
    opacity: 1;
    filter: grayscale(0);
  }

  &.active {
    filter: grayscale(0);
    
  }

  @include ipad {
    width: 45%;
  }
  
  @include desktop {
    width: 30%;
    
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
}

.conversion__image__text {
  color: 'navajowhite'; 
  position: 'absolute'; 
  bottom: '10%';
  right: '32%';
}

.conversion__button__group {
  display: flex;
  justify-content: center;
  position: relative;
  gap: 2rem;
  margin-top: 25px;
  flex-direction: column;

  @include ipad {
    flex-direction: row;
  }
}