.conversion__wrapper {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.conversion {
  width: 100%;
  position: relative;
  margin: 2rem 0 7rem;
}

@media (min-width: 768px) {
  .conversion {
    width: auto;
  }
}

.conversion::after {
  position: absolute;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
          clip-path: polygon(0 0, 0 100%, 100% 0);
  background-image: var(--border-linear-gradient);
}

@media (min-width: 768px) {
  .conversion::after {
    top: 0px;
    left: 1px;
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 1080px) {
  .conversion::after {
    top: 0px;
    left: 1px;
    width: 60px;
    height: 60px;
  }
}

.conversion::before {
  position: absolute;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0);
          clip-path: polygon(0 100%, 100% 100%, 100% 0);
  background-image: var(--border-linear-gradient);
}

@media (min-width: 768px) {
  .conversion::before {
    bottom: 0px;
    right: 1px;
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 1080px) {
  .conversion::before {
    bottom: 0px;
    right: 1px;
    width: 60px;
    height: 60px;
  }
}

.conversion__notched-box {
  padding: 2px;
  width: 100%;
  background-image: var(--border-linear-gradient);
}

@media (min-width: 768px) {
  .conversion__notched-box {
    width: 650px;
    background-image: var(--border-linear-gradient);
  }
}

@media (min-width: 1080px) {
  .conversion__notched-box {
    width: 900px;
    background-image: var(--border-linear-gradient);
  }
}

.conversion__notched-box__content {
  width: 100%;
  height: 100%;
  padding: 2rem;
  position: relative;
  background-color: var(--body-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  gap: 5rem;
}

.conversion__image__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.conversion__image {
  position: relative;
  width: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 0.7;
}

.conversion__image:hover {
  opacity: 1;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.conversion__image.active {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

@media (min-width: 768px) {
  .conversion__image {
    width: 45%;
  }
}

@media (min-width: 1080px) {
  .conversion__image {
    width: 30%;
  }
}

.conversion__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.conversion__image__text {
  color: 'navajowhite';
  position: 'absolute';
  bottom: '10%';
  right: '32%';
}
/*# sourceMappingURL=conversion.css.map */